*{
  font-family:sans-serif;
}
body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.bg-orange{
  background-color: #ED731E !important;
}
.h-custom{
  height: 40%;
}
.h-custom-1{
  height: 550px;
}
.bg-cyan{
  background-color: #44D4DF !important;
}
.bg-blue{
  background-color: #0B4C8B;
}
.text-cyan{
  color: #44D4DF;
}
.text-orange{
  color: #ED731E;
}
.nav-item a,.text-blue{
  color: #0B4C8B;
}
.nav-item a:hover{
  color: #44D4DF;
  cursor: pointer;
}
#search-button{
  background-color: #0B4C8B;
  color: #ED731E;
  width: 100px;
  text-wrap: nowrap;
}
#search-button:hover{
  background-color: #44D4DF;
  color: #0B4C8B;
}
.heading{
  font-weight: bold;
  color: #0B4C8B;
  padding-left: 200px;
  margin-top: 50px;
}
.button-hover:hover,.after-hover{
  color: #0B4C8B;
  background-color: #44D4DF;
}
.button-hover,.after-hover:hover{
  color: #44D4DF;
  background-color: #0B4C8B;
}
.unfriend-button-hover:hover{
  color: red  ;
  background-color: white;
}
